.classMap_footer{display:flex;flex-direction:row;align-items:center;padding:0px;position:relative;width:299px;height:52px;}
.classMap_footer-word{flex:none;order:0;flex-grow:1;margin:px;width:244px;height:31px;font-family:'Roboto';font-style:normal;font-weight:400;font-size:16px;line-height:19px;display:flex;align-items:center;color:#000000;}
.classMap_footer-icon{flex:none;order:1;flex-grow:0;margin:px;width:55px;height:55px;}
.iconSearch{position:absolute;width:55px;height:55px;right:0px;top:calc(50% - 55px/2);background:url(img-search.png);border-radius:5px;}
